body{
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background: white;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}
input, label{
    display: none;
}
@media (min-width: 650px) {
    select{
        display: none;
    }
    label{
        display: inline;
    }
    input:checked + label {
    background: blue;
    color: white;
}
}